@import "mixins";
@import "dashboard";

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

@media (min-width: 701px) {
  .dashboard-main, .dashboard-link-picker {
    display: none !important;
  }
}

.navbar-static-top {
  background: #292C34;
  color: #FFF;
  border: none;
}

.navbar-static-top button.navbar-toggle,
.navbar-static-top button.navbar-toggle:hover,
.navbar-static-top button.navbar-toggle:active,
.navbar-static-top button.navbar-toggle:focus,
.navbar-static-top button.navbar-toggle:visited {
  background: #292C34;
  margin-top: 8px;
  margin-left: 6px;
  border: none;
}

.navbar-static-top button.navbar-toggle span.icon-bar {
  background-color: #FFF;
  width: 18px;
}

.navbar-static-top .navbar-brand {
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 50%;
  width: 200px;
  margin-left: -100px;
}

.navbar-static-top .navbar-brand:hover {
  color: #CCC;
  transition: color 0.5s ease-in-out;
}

@media (max-width: 700px) {
  .dashboard-main {
    padding: 15px;
    height: 190px;
    background:
      linear-gradient(
        rgba(0,0,0,0.55),
        rgba(0,0,0,0.55)
      ),
      url(../images/dashboard_main.jpg);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  .dashboard-main > h2 {
    color: white;
    margin-top: 50px;
    font-size: 1.8em;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-weight: 800;
  }

  #page-wrapper {
    padding: 0 !important;
  }

  .dashboard-link-picker ul {
    list-style: none;
    background: #F8F9F9;
    padding: 0;
    margin: 0;
    display: block;
  }

  .dashboard-link-picker ul li {
    color: #9A9EA2;
    display: inline-block;
    width: 33.3%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    height: 46px;
    line-height: 46px;
    padding: 0 10px;
    border-bottom: 2px solid #EEF1F5;
    float: left;
  }

  .dashboard-link-picker ul li.active {
    color: #434343;
    border-bottom: 3px solid #47C3BF;
  }

  .panel-heading {
    display: none;
  }

  // header
  #header-nav {
    margin-bottom: -1px !important;
  }

  ul#side-menu li {
    background: lighten(#292C34, 8%);
    border-bottom: 1px solid lighten(#292C34, 4%);
    border-top: 1px solid lighten(#292C34, 4%);
    a {
      color: #fff !important;
      &:hover, &:active, &:focus, &:visited {
        background: lighten(#292C34, 6%);
      }
    }
  }


}
