<div class="container-fluid">
  <div id="wrapper">

    <div id="page-wrapper" canvas="container">
      <section class="home-main">
        <ng-include src="'templates/header.html'"></ng-include>
        <h2>Just good, cheap restaurants</h2>
        <p class="subtitle">In the Tokyo area</h2>
      </section>

      <tr-home-picker></tr-home-picker>

      <section class="tr-item-list">
        <ul>
          <tr-area-list areas="areas" loading="loading"></tr-area-list>
        </ul>
      </section>

    </div>

    <div id="loader"></div>
  </div> <!-- wrapper -->
</div>
