$item-bg-color: #fff;
$item-primary-text-color: #434343;
$item-secondary-text-color: lighten($item-primary-text-color, 30%);
$item-height: 70px;
$item-line-height: $item-height;
$thumb-height: 60px;
$thumb-width: 80px;
$thumb-margin: ($item-height - $thumb-height) / 2;

.tr-item-list {
  padding-left: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;

  li {
    @include clearfix;
    color: $item-primary-text-color;
    font-weight: bold;
    height: $item-height;
    line-height: $item-line-height;
    border-bottom: 1px solid darken($item-bg-color, 3%);
    padding: 0;
    a {
      height: $item-height;
      padding: $thumb-margin 15px;
      display: block;
      cursor: pointer;
      transition: background 0.2s ease-in-out;
      &:hover {
        background: darken($item-bg-color, 3%);
        text-decoration: none;
      }
    }
  }

  .item-thumbnail {
    border-radius: 2px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    float: right;
    height: $thumb-height;
    width: $thumb-width;
  }

}

.item-info {
  color: $item-primary-text-color;
  margin-top: $thumb-margin;
  height: $item-height - $thumb-margin * 2;
  display: inline-block;
  float: left;
  overflow: hidden;
  max-width: 215px;

  .main-title {
    height: ($item-height - $thumb-margin * 2) * 3 / 5;
    line-height: ($item-height - $thumb-margin * 2) * 3 / 5;
    font-size: 1.1em;
    overflow: hidden;
  }

  .sub-title {
    color: $item-secondary-text-color;
    height: ($item-height - $thumb-margin * 2) * 2 / 5;
    line-height: 1.8em;
    font-size: 0.9em;
    overflow: hidden;
  }

}
