$header-bg-color: rgba(0,0,0,0);

// header-navbar
.navbar.navbar-static-top {
  background: $header-bg-color;
  margin-bottom: -1px;
  border: none;
}

button.navbar-toggle {
  background: $header-bg-color;
  margin-top: 8px;
  margin-left: 6px;
  font-size: 1em !important;
  border: none;
  &:hover, &:active, &:focus, &:visited {
    background: $header-bg-color !important;
  }
}

.navbar-static-top button.navbar-toggle span.icon-bar {
  background-color: #FFF !important;
  width: 18px;
}

.navmenu-brand, .navbar-static-top .navbar-brand {
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  width: 200px;
  text-transform: uppercase;
  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1em;
  &:hover {
    color: #CCC;
    transition: color 0.5s ease-in-out;
  }
  color: #FFF !important;
}

@media(min-width: 767px) {
  .navbar-brand {
    position: static !important;
    margin-left: 0 !important;
  }
}
