$pagination-height: 50px;
$pagination-border: #eee;

tr-pagination {
  @include clearfix;
  display: block;
  min-height: 75px;
}

.pagination {
  @include clearfix;
  display: block !important;
  position: relative;
  color: $primary-color;
  padding: 15px !important;

  .next-btn, .prev-btn {
    position: absolute;
    min-width: 120px;
    text-align: center;
    height: $pagination-height;
    margin-bottom: 15px !important;
    span {
      line-height: $pagination-height;
      text-align: center;
    }
    a {
      display: block !important;
      color: #fff !important;
      background: $primary-color;
      border-radius: 3px;
    }
  }

  .next-btn {
    top: 0;
    right: 15px;
  }

  .prev-btn {
    top: 0;
    left: 15px;
  }
}
