$item-bg-color: #fff;
$item-primary-text-color: #434343;
$item-secondary-text-color: lighten($item-primary-text-color, 30%);
$item-height: 60px;
$item-line-height: $item-height;
$thumb-height: 50px;
$thumb-margin: ($item-height - $thumb-height) / 2;

.tr-item-list {
  padding-left: 0;

  li {
    @include clearfix;
    color: $item-primary-text-color;
    font-weight: bold;
    height: $item-height;
    line-height: $item-line-height;
    border-bottom: 1px solid darken($item-bg-color, 3%);
    a {
      padding: $thumb-margin 15px;
      display: block;
      cursor: pointer;
      transition: background 0.2s ease-in-out;
      &:hover {
        background: darken($item-bg-color, 3%);
        text-decoration: none;
      }
    }
  }

  .item-thumbnail {
    border-radius: 2px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    float: left;
    height: $thumb-height;
    width: $thumb-height;
  }

}

.item-info {
  text-align: right;
  color: $item-primary-text-color;
  font-size: 1em;
  margin-top: $thumb-margin;
  height: $item-height - $thumb-margin * 2;

  .main-title {
    height: ($item-height - $thumb-margin * 2) / 2;
    line-height: ($item-height - $thumb-margin * 2) / 2;
  }
  .sub-title {
    color: $item-secondary-text-color;
    height: ($item-height - $thumb-margin * 2) / 2;
    line-height: 1.4em;
    font-size: 0.7em;
  }
}
