$menu-bg-color: #292C34;

ul.navmenu-nav li {
  background: lighten($menu-bg-color, 8%) !important;
  border-bottom: 1px solid lighten($menu-bg-color, 4%);
  border-top: 1px solid lighten($menu-bg-color, 4%);
  a {
    color: #fff !important;
    &:hover, &:active, &:focus, &:visited {
      background: lighten($menu-bg-color, 6%);
    }
  }
  &.active a {
    background: lighten($menu-bg-color, 6%) !important;
  }
}

#nav-menu {
  background: $menu-bg-color;
  border: none;
}
