$navbar-bg-color: #292C34;

// header-navbar
.navbar.navbar-static-top {
  background: $navbar-bg-color;
  margin-bottom: -1px;
  border: none;
}

ul.navmenu-nav li {
  background: lighten($navbar-bg-color, 8%) !important;
  border-bottom: 1px solid lighten($navbar-bg-color, 4%);
  border-top: 1px solid lighten($navbar-bg-color, 4%);
  a {
    color: #fff !important;
    &:hover, &:active, &:focus, &:visited {
      background: lighten($navbar-bg-color, 6%);
    }
  }
  &.active a {
    background: lighten($navbar-bg-color, 6%) !important;
  }
}

#nav-menu {
  background: $navbar-bg-color;
  border: none;
}

button.navbar-toggle {
  background: $navbar-bg-color;
  margin-top: 8px;
  margin-left: 6px;
  border: none;
  &:hover, &:active, &:focus, &:visited {
    background: $navbar-bg-color !important;
  }
}

.navbar-static-top button.navbar-toggle span.icon-bar {
  background-color: #FFF;
  width: 18px;
}

.navmenu-brand, .navbar-static-top .navbar-brand {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  &:hover {
    color: #CCC;
    transition: color 0.5s ease-in-out;
  }
  color: #FFF !important;
}
