.item-info[data-item-type=restaurant] {
  .rating, .price-range {
    display: inline-block;
    padding-right:  6px;
    span {
      padding-left: 4px;
      font-size: 1em;
      font-weight: 500;
    }
  }

  .genres {
    display: inline-block;
    span {
      position: relative;
      top: -1px;
      font-size: 0.9em;
    }
  }

  ul {
    @include clearfix;
    display: block;
  }
  .sub-title {
    i { color: $primary-color; }
    span {
      color: $item-secondary-text-color;
    }
  }
}


.restaurant-main {
  padding: 15px;
  height: 190px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  > h2 {
    color: white;
    margin-top: 50px;
    font-size: 1.8em;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-weight: 800;
  }
}
